:root,
    [data-selected-theme="greenWhite"]{
    --scrollTrack: rgb(0, 189, 25);
    --scrollbar-thumb: rgb(0, 143, 19);
    --thumb-hover: rgb(0, 83, 11);

    --bodyBack: rgb(211, 211, 211);

    --topGradient: linear-gradient(90deg, rgb(0, 189, 25) 10%, rgb(0, 143, 19) 100%);
    --bottomGradient: linear-gradient(90deg, rgb(22, 22, 22) 10%, rgb(0, 0, 0) 100%);

    --topButtonText:aliceblue;
    --topButtonHoverBackground:var(--topButtonText);
    --topButtonHoverText:rgb(0, 189, 25);


    --bottomUlText:rgb(0, 100, 13);
    --bottomLink: var(--topButtonText);
    --bottomLinkHover:var(--paragraphLinkHover);

    --paragraphLink:rgb(105, 161, 0);
    --paragraphLinkHover:rgb(0, 153, 255)  ;
    --paragraphText:rgb(0, 100, 13);

    --cardBack:rgb(0, 189, 25);
    --cardTitle:rgb(255, 255, 255);

    --articTitle:rgb(0, 143, 19);

    --font: "Century Gothic";
 }

 [data-selected-theme="orangeWhite"]{
    --scrollTrack: rgb(185, 185, 185);
    --scrollbar-thumb: orange;
    --thumb-hover: rgb(139, 91, 0);

    --bodyBack: whitesmoke;

    --topGradient: linear-gradient(90deg, orange 10%, rgb(255, 201, 100) 100%);
    --bottomGradient: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(59, 59, 59) 100%);
    --topButtonHoverText:orange;

    --topButtonText:whitesmoke;
    --topButtonHoverBackground:var(--topButtonText);

    --bottomUlText:Orange;
    --bottomLink: var(--topButtonText);
    --bottomLinkHover:var(--paragraphLinkHover);

    --paragraphLink:rgb(255, 183, 49);
    --paragraphLinkHover:rgb(0, 0, 0)  ;
    --paragraphText:rgb(182, 118, 0);

    --cardBack:orange;
    --cardTitle:whitesmoke;

    --articTitle:orange;

    --font: "Century Gothic";
 }

 [data-selected-theme="night"]{
    --scrollTrack: rgb(40, 53, 148);
    --scrollbar-thumb: rgb(30, 40, 110);
    --thumb-hover: rgb(39, 29, 66);

    --bodyBack: rgb(55, 70, 121);

    --topGradient: linear-gradient(90deg, rgb(65, 48, 112) 10%, rgb(40, 53, 148) 100%);
    --bottomGradient: linear-gradient(90deg, rgb(22, 22, 22) 10%, rgb(16, 23, 75) 100%);

    --topButtonText:aliceblue;
    --topButtonHoverBackground:var(--topButtonText);
    --topButtonHoverText:rgb(40, 53, 148);


    --bottomUlText:rgb(40, 53, 148);
    --bottomLink: var(--topButtonText);
    --bottomLinkHover:var(--paragraphLinkHover);

    --paragraphLink:white;
    --paragraphLinkHover:rgb(0, 153, 255)  ;
    --paragraphText:lightblue;

    --cardBack:rgb(65, 48, 112);
    --cardTitle:lightblue;

    --articTitle:rgb(97, 135, 148);

    --font: "Century Gothic";
 }

 [data-selected-theme="blody"]{
    --scrollTrack: rgb(185, 185, 185);
    --scrollbar-thumb: rgb(184, 0, 0);
    --thumb-hover: rgb(90, 0, 0);

    --bodyBack: rgb(184, 0, 0);

    --topGradient: linear-gradient(90deg, whitesmoke 10%, white 100%);
    --bottomGradient: linear-gradient(90deg, whitesmoke 10%, whitesmoke 100%);
    --topButtonHoverText:white;

    --topButtonText:rgb(184, 0, 0);
    --topButtonHoverBackground:var(--topButtonText);

    --bottomUlText:rgb(184, 0, 0);
    --bottomLink: var(--topButtonText);
    --bottomLinkHover:var(--paragraphLinkHover);

    --paragraphLink:rgb(192, 146, 146);
    --paragraphLinkHover:rgb(49, 0, 0)  ;
    --paragraphText: white;

    --cardBack:whitesmoke;
    --cardTitle:rgb(184, 0, 0);

    --articTitle:white;

    --font: "Century Gothic";
 }

 [data-selected-theme="blackPink"]{
    --scrollTrack: rgb(99, 99, 99);
    --scrollbar-thumb: rgb(233,0,140);
    --thumb-hover: white;

    --bodyBack: rgb(17, 17, 17);

    --topGradient: linear-gradient(90deg, rgb(233,0,140) 10%, rgb(233,0,140) 100%);
    --bottomGradient: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(59, 59, 59) 100%);

    --topButtonText:whitesmoke;
    --topButtonHoverBackground:var(--topButtonText);
    --topButtonHoverText:rgb(233,0,140);

    --bottomUlText:rgb(233,0,140);
    --bottomLink: var(--topButtonText);
    --bottomLinkHover:var(--paragraphLinkHover);

    --paragraphLink:rgb(233,0,140);
    --paragraphLinkHover:rgb(255, 124, 203)  ;
    --paragraphText:white;

    --cardBack:rgb(233,0,140);
    --cardTitle:rgb(255, 255, 255);

    --articTitle:white;

    --font: "Century Gothic";
 }


 ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollTrack);; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  var(--scrollbar-thumb);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover); 
  }

body{
    margin: 0;
    padding: 0;
    background-color: var(--bodyBack);
}

.topButton{
    float: right;
    padding: 30px 30px 30px 30px;
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
    min-width: 100px;
    color: var(--topButtonText)
}

.row{
    display: flex;
    text-align: center;
    width: 100%;
}

.row p{
    text-align: center;  
    width: 100%;
    margin: 100px 0px 0px 0px;
    font-size: 30px;
    line-height: 1.5;
    color: var(--articTitle);
    font-family: var(--font);
}

#mainPic{
    width: 300px;
    height: 300px;
    margin: 40px 15px 15px 40px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
}

.topButton:hover{
    background-color:var(--topButtonHoverBackground);
    color: var(--topButtonHoverText)
}

a{
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;

    -webkit-transition: background 0.3s;
    -moz-transition:    background 0.3s;
    -ms-transition:     background 0.3s;
    -o-transition:      background 0.3s;
    transition:         background 0.3s;
    text-decoration: none;
}

#top{
    width: 100%;
    background: rgb(2,0,32);
    background-image: var(--topGradient);
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px 0;
}

#topImg{
    width: 73px;
    height: 73px;
    margin: 5px;
}

#bottom{
    width: 100%;
    padding-top: 20px;
    background-image: var(--bottomGradient);
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 0 0 50px 0;
    bottom: 0;
}

#bottom ul{
    margin: 0px 0px 20px 0px;
    display: inline-block;
    list-style: none;
    justify-content: end;
    font-size: 20px;
    font-family:  var(--font);
    color: var(--bottomUlText)
}

#bottom a{
    color: var(--bottomLink);
    text-align:center;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    font-family: var(--font);;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
}

a{
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;

    -webkit-transition: background 0.3s;
    -moz-transition:    background 0.3s;
    -ms-transition:     background 0.3s;
    -o-transition:      background 0.3s;
    transition:         background 0.3s;
    text-decoration: none;
}

p a{
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
    color: var(--paragraphLink);
    text-decoration: underline;
    border-radius: 5px;
    break-inside: avoid;
}

p a:hover{
    color: var(--paragraphLinkHover);
}

#bottom a:hover{
    color: var(--bottomLinkHover);
    text-align:center;
    font-size: 15px;
    cursor:pointer;
}


.card{
    border-radius: 30px;
    text-align: center;
    vertical-align: top;
    align-items: center;
    margin: 20px;
    width: 40%;
    height: 20%;
    height: 500px;
    display: inline-block;
    background-color: var(--cardBack);
    
}


.card_wide{
    border-radius: 30px;
    text-align: center;
    vertical-align: top;
    align-items: center;
    margin: 20px;
    width: 80%;
    display: inline-block;
    background-color: var(--cardBack);
    
}

.tt{
    font-size: 15px;
    line-height: 1.5;
    color: var(--cardTitle);
    font-family: var(--font);
    
}

.desc{
    font-size: 20px;
    line-height: 1.5;
    color: var(--cardTitle);
    font-family: var(--font);
}

.cardpic{
    
    margin-top: 20px;
    max-width: 50%;
    max-height: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
    border-radius: 20px;
}

.articleImage{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
    margin-left: 30px;
}

.articleTitle{
    padding-left: 30px;
    font-size: 45px;
    line-height: 1.5;
    color: var(--articTitle);
    font-family: var(--font);
}

.articleParag{
    padding-left: 30px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--paragraphText);
    font-family: var(--font);
}

.embedFrame{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
    margin-left: 30px;
}

.CONTACT{
    width: 100%;
    height: 100%;
    border: 0px;
}

#card-container{
vertical-align: top;
color: black;
}

#disqus_thread{
    font-family: var(--font);
margin: 40px;
}

#disqus_thread a {
    color: var(--articTitle);
  }

  #disqus_thread a:hover {
    color: var(--topButtonText);
  }